<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/><arg name="headless" default="false"/>
  <arg name="debug" default="true"/>
  <include file="$(find hector_gazebo_worlds)/launch/start.launch">
    <arg name="world" value="$(find hector_gazebo_worlds)/worlds/3D.world"/>
  </include>
 
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="2" />
    <arg name="pkg" value="flood_monitor" />
    <arg name="file" value="drone01.launch" />
    <arg name="node_name" value="drone01" />
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="4" />
    <arg name="pkg" value="flood_monitor" />
    <arg name="file" value="drone02.launch" />
    <arg name="node_name" value="drone02" />
  </include>
 
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="6" />
    <arg name="pkg" value="flood_monitor" />
    <arg name="file" value="drone03.launch" />
    <arg name="node_name" value="drone03" />
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="8" />
    <arg name="pkg" value="flood_monitor" />
    <arg name="file" value="drone04.launch" />
    <arg name="node_name" value="drone04" />
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="10" />
    <arg name="pkg" value="flood_monitor" />
    <arg name="file" value="drone05.launch" />
    <arg name="node_name" value="drone05" />
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="12" />
    <arg name="pkg" value="flood_monitor" />
    <arg name="file" value="drone06.launch" />
    <arg name="node_name" value="drone06" />
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="14" />
    <arg name="pkg" value="flood_monitor" />
    <arg name="file" value="drone07.launch" />
    <arg name="node_name" value="drone07" />
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="16" />
    <arg name="pkg" value="flood_monitor" />
    <arg name="file" value="drone08.launch" />
    <arg name="node_name" value="drone08" />
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="18" />
    <arg name="pkg" value="flood_monitor" />
    <arg name="file" value="drone09.launch" />
    <arg name="node_name" value="drone09" />
  </include>


  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="20" />
    <arg name="pkg" value="flood_monitor" />
    <arg name="file" value="drone10.launch" />
    <arg name="node_name" value="drone10" />
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="22" />
    <arg name="pkg" value="flood_monitor" />
    <arg name="file" value="drone11.launch" />
    <arg name="node_name" value="drone11" />
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="24" />
    <arg name="pkg" value="flood_monitor" />
    <arg name="file" value="drone12.launch" />
    <arg name="node_name" value="drone12" />
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="26" />
    <arg name="pkg" value="flood_monitor" />
    <arg name="file" value="drone13.launch" />
    <arg name="node_name" value="drone13" />
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="28" />
    <arg name="pkg" value="flood_monitor" />
    <arg name="file" value="drone14.launch" />
    <arg name="node_name" value="drone14" />
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="30" />
    <arg name="pkg" value="flood_monitor" />
    <arg name="file" value="drone15.launch" />
    <arg name="node_name" value="drone15" />
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="32" />
    <arg name="pkg" value="flood_monitor" />
    <arg name="file" value="drone16.launch" />
    <arg name="node_name" value="drone16" />
  </include>

    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="34" />
    <arg name="pkg" value="flood_monitor" />
    <arg name="file" value="drone17.launch" />
    <arg name="node_name" value="drone17" />
  </include>
  
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="36" />
    <arg name="pkg" value="flood_monitor" />
    <arg name="file" value="drone_camera.launch" />
    <arg name="node_name" value="drone_camera" />
  </include>

</launch>
