<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/><arg name="headless" default="false"/>
  <arg name="debug" default="true"/>
  <include file="$(find flood_monitor)/worlds/start.launch">
    <arg name="world" value="$(find flood_monitor)/worlds/3D.world"/>
  </include>
 

</launch>
